<div class="hero-full-container background-image-container white-text-container"
    style="background-image: url('./assets/images/space.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="hero-full-wrapper">
                    <div class="text-content">
                        <h1>{{ config.title }}<br>
                            <span id="typed-strings">
                                <span>I'm Jacek Woźniak</span>
                                <span>Unity developer</span>
                                <span>Check my apps and posts</span>
                            </span>
                            <span id="typed"></span>
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>