<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="hero-full-wrapper">
                <div class="text-content">
                    <h1>{{ config.title }}<br>
                        <span>Jacek Woźniak:<br></span>
                        <span id="typed-strings">
                            <span>Unity developer.</span>
                            <span>C# enjoyer.</span>
                            <span>Tool writer.</span>
                            <span>/r</span>
                        </span>
                        <span id="typed"></span>
                    </h1>
                </div>
            </div>
        </div>
    </div>
</div>