<footer class="footer-container text-center">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <p>© Jacek Woźniak personal page 
                    <br> Website created with
                    <a href="http://www.mashup-template.com/" title="Create website with free html template">
                        MashupTemplate
                    </a>
                    /
                    <a href="https://www.unsplash.com/" title="Beautiful Free Images">
                        Unsplash
                    </a>
                    /
                    <a href="https://www.pexels.com/" title="Beautiful Free Images">
                        Pexels
                    </a>
                    /
                    <a href="https://icons8.com/" title="free icons">
                        Icons8
                    </a>
                    <br>
                    and edited by Jacek Woźniak
                </p>
            </div>
        </div>
    </div>
</footer>