<div id="myCarousel" class="carousel slide projects-carousel">
    <!-- Carousel items -->
    <div class="carousel-inner">
        <div class="item active">
            <div class="row card-displayer">
                {% for post in include.posts %}
                <div class="card-wrapper">
                    <a href="{{post.url}}" title="" class="card-image">
                        <img src="{{post.imageLink}}" alt="{{post.title}} image" class="img-responsive">
                    </a>
                    <div class="card-container card-container-lg">
                        <h4>{{post.date | date_to_long_string}}</h4>
                        <h3>{{post.title}}</h3>
                        <p>{{post.excerpt}}</p>
                        <a href="{{post.url}}" title="" class="btn btn-default">{{post.layout | capitalize }}</a>
                        {% if post.secondaryLink %}
                        <a href="{{post.secondaryLink}}" title=""
                            class="btn btn-default">{{post.secondaryLinkType}}</a>{{post.secondaryLinkButton}}
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>