<header>
    <nav class="navbar {{include.navigation-style}}">
        <div class="container">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse"
                aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="nav navbar-nav ">
                    {% for item in site.data.navigation %}
                    <li>
                        <a href="{{item.link}}" title="{{item.name}}" class="{% if item.hover-class %}{{item.hover-class}}{% endif %} {% if item.contact %}contact{% endif %}">
                            {% if item.icon %} <img src="{{item.icon}}" class="icon"></img> 
                            {% elsif item.name != "Mail" %} 
                            {{item.name}} 
                            {% endif %}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </nav>
</header>