body.invert {
    filter: invert(1);
    padding: 0;
}

.invert img,
.invert img:hover,
.invert img:active {
    filter: invert(1);
}

.card-image {
    filter: invert(1);
}

.mail:hover::after,
.mail:focus::after {
    content: "jacekwozn14k.work@gmail.com"
}

.mail::after {
    content: "Mail (Hover)"
}

.flex-display {
    display: flex;
    flex-direction: column;
}

.page-container {
    min-height: calc(100vh);
    max-width: calc(100vw - 8px);
    padding: 45px 0 0 0;
    background-color: #eee;
}

body,
h4 {
    font-size: 15px;
}

body.minimal {
    background-color: #000;
}

body.invert {
    background-color: #777;
}

.footer-container {
    min-height: 50px;
}

.footer-container p {
    font-size: 14px;
}

img {
    display: block;
    max-width: 600px;
    margin: 15px 0 15px 0;
}

.card-wrapper {
    border: 1px black dashed;
    display: flex;
    flex-direction: column;
    max-height: 350px;
    margin: 10px;
    justify-content: space-between;
    overflow: hidden;
}

.card-container {
    background-color: #fff;
    padding: 9px;
    position: relative;
    max-height: 75%;
    overflow-y: scroll;
    width: calc(100%);
    margin: 0px;
}

.card-image {
    display: block;
    max-height: 45%;
}

.card-container h3 {
    font-size: 16px;
}

.card-image img {
    filter: saturate(15%);
    transition: 0.2s ease;
    margin: 0;
}

.card-image:hover img {
    filter: saturate(100%);
    transition: 0.2s ease;
}

.contact {
    color: #222299 !important;
    text-decoration: underline !important;
}

.contact:hover {
    text-decoration: underline !important;
}

.navbar-inverse .contact {
    color: #fd0 !important;
}

.navbar-inverse
{
    color: #eee;
}

.card-displayer {
    display: grid;
    align-content: space-around;
    justify-items: start;
}

@media (min-width: 576px) {
    .card-displayer {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (min-width: 768px) {
    .card-displayer {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 992px) {
    .card-displayer {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1240px) {
    .card-displayer {
        grid-template-columns: repeat(4, 1fr);
    }
}

.card-displayer:after,
.card-displayer:before {
    content: "" !important;
    display: none !important;
}

@media (max-width: 992px) {
    .card-container.card-container-lg {
        background-color: #fff;
        padding: 9px;
        position: relative;
        max-height: 75%;
        overflow-y: scroll;
        width: 100%;
        margin: 0px;
    }
}

.img-responsive {
    display: block;
    max-width: 100%;
    min-width: 100%;
    height: auto;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: #777;
}

::-webkit-scrollbar-thumb {
    background-color: #eee;
}

.footer-container {
    top: 80px;
    position: relative;
}

.navbar-default, .navbar {
    margin: 0;
}

.navbar-default .container {
    padding: 0px;
}

.icon {
    height: 16px;
    margin: 1px;
}

.flex-display .container {
    flex-basis: 73vh;
}